[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
numpy = "*"
scipy = "*"

[dev-packages]
black = "*"
commitizen = "*"
flake8 = "*"
pre-commit = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
